<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Rents </title>
    <link rel="icon" href="https://res.cloudinary.com/south-china-university-of-technology/image/upload/v1595569757/shareCarTemp/Webp.net-resizeimage_dr3tkt.jpg">
    <link rel="stylesheet" href="rentsUserAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="rentsUserAssets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="rentsUserAssets/css/sharenav.css">
    <link rel="stylesheet" href="rentsUserAssets/css/styles.css">
    <link rel="stylesheet" href="homeAssets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="loggedAssets/css/sharenav.css">
    <link rel="stylesheet" href="loggedAssets/css/styles.css">
    <link rel="stylesheet" href="adminHAssets/css/logged.css">
    <link rel="stylesheet" href="adminHAssets/css/styles.css">
    <link rel="stylesheet" href="userAccAssets/css/styles.css">

</head>

<body>
   <% if(auth==true){ %>
    <% if(user.admin==true){ %>
<%-include("partials/header2") -%>
<% }else{ %>
<%-include("partials/header1") -%>
<% } %>
        <% }else{ %>
    <%-include("partials/header") -%>
    <% } %>
    <div >
        <div class="container">
            <div class="row" >
                <div class="col-md-12" style="margin-top: 30px;">
                    <h1>Rents</h1>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <div class="container">
            <div class="row" style="min-height: 50vh;">
                <div class="col-md-12">
                    <% if(rents.length==0){%>
                    <img src="https://res.cloudinary.com/south-china-university-of-technology/image/upload/v1595393259/shareCarTemp/background-1776015_1920_hfrw3i.jpg" style="width: 80%;">
                    <% }else{ %>
                    <% rents.reverse().forEach(function(rent){ %>
                    <% var mycar; %>
                    <% cars.forEach(function(car){ %>
                    <% if(rent.car==car._id){mycar=car}else{} %>
                    <% }) %>

                    <div>
                        <div class="row" style="margin:0px;padding:20px;">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="padding: 0px;">
                                <div style="background-image: url(&quot;<%= mycar.img1 %>&quot;);height: 25vh;background-repeat: no-repeat;background-size: cover;background-position: center;"></div>
                            </div>
                            <div class="w-100 d-sm-block d-md-none d-lg-none d-xl-none"></div>
                            <div class="col" style="padding:0px;">
                                <div class="card">
                                    <div class="card-body" style="height: auto;min-height: 25vh;">
                                        <h4 class="card-title">ID: <%= rent._id %></h4>
                                        <% if(rent.rentClosed==false){ %>
                                        <h6 class="text-muted card-subtitle mb-2" style="color: rgb(8,8,8)!important;font-size: 18px;">Rent Status: In progress</h6>
                                        <% }else{ %>
                                        <h6 class="text-muted card-subtitle mb-2" style="color: rgb(8,8,8)!important;font-size: 18px;">Rent Status: Closed</h6>
                                        <% } %>
                                        
                                        <h6 class="text-muted card-subtitle mb-2" style="color: rgb(8,8,8)!important;margin-bottom: 10px;">Car: <%= mycar.name %></h6>
                                        <% let start = new Date(rent.startTime) %>
                                        <% let end = new Date(rent.endTime) %>
                                        <% let dur = new Date(end - start);  %>
                                        
                                        <h6 class="text-muted card-subtitle mb-2" style="color: rgb(8,8,8)!important;margin-bottom: 10px;">Rent Duration: <%= dur.getHours() %> hours</h6>
                                        <h6 class="text-muted card-subtitle mb-2" style="color: rgb(8,8,8)!important;">Rent Cost: $<%= rent.cost%></h6>
                                        <h6 class="text-muted card-subtitle mb-2" style="color: rgb(8,8,8)!important;">Date rented: <%= start.toLocaleDateString() %><br></h6><a class="card-link viewRentBtn" href="/rentStatus/<%= rent._id %>">View rent</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%-include("partials/footer") -%>
    <script src="homeAssets/js/common.js"></script>
    <script src="rentsUserAssets/js/jquery.min.js"></script>
    <script src="rentsUserAssets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>